/* reset et initialisation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;}


html,body{
    margin-top: 3rem;
    position: relative;
    width: 100%;
    height: 100%;}

body{width: 100%;}
/* Fin de l'initialisation */

/* header - Barre principale  */
header{
    position: fixed;
    top: 0;
    z-index: 2;
    height: 4rem;
    width: 100%;
    display: flex;
    background-color: #3E4C65;
    padding-left: 1%;}


.logo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;}
.logo img{
    height: 90%;}
.logo p{
    font-size: 2rem;
    color: white;}


nav{
    width: 30%;}
nav li{
    /* float: right; */
    width: 33%;
    }
nav ul::before{
    content: "";
    display: table;
    clear: both;
    }
/* Fin du header */

/* Début du main */
main{
    width: 80%;
    margin: auto;
    background-color: bisque;}

h1{
    text-align: center;
    margin-bottom: 1rem;}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction  row;
    justify-content: center;}
section article img{
    width: calc(100% - 40px);
    border: solid 1px;}
section p{
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    border: solid 1px;}